* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy";
}

html,
body {
  height: 100%;
  width: 100%;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  height: 500px;
  /* box-shadow: 10px 10px 20px black; */
  filter: drop-shadow(10px 10px 20px black);
}
